.navbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    .controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;

        .speed,
        .size {
            p {
                text-transform: capitalize;
                color: white;
            }

            $thumbsize : 15px;

            input {
                appearance: none;
                width: 100%;
                height: 5px;
                background: #ffffff;
                border-radius: 10px;
                outline: none;
            }

            @mixin thumbProperty {
                width: $thumbsize;
                height: $thumbsize;
                border: none;
                background: #ff7b00;
                clip-path: polygon(0 0, 50% 30%, 100% 0, 100% 70%, 50% 100%, 0 70%);
                cursor: pointer;
            }

            input::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                @include thumbProperty();
            }

            input::-moz-range-thumb {
                @include thumbProperty();
            }
        }
    }

    .search input {
        margin: 0 10px;
        padding: 5px;
    }

    .btn-primary {
        background-color: #e1ecf4;
        border-radius: 5px;
        border: 1px solid #7aa7c7;
        box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
        box-sizing: border-box;
        color: #39739d;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        margin: 0;
        outline: none;
        padding: 8px .8em;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;

        &:hover,
        &:focus {
            background-color: #b3d3ea;
            color: #2c5777;
        }

        &:focus {
            box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
        }

        &:active {
            background-color: #a0c7e4;
            box-shadow: none;
            color: #2c5777;
        }
    }

    .algorithms {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        cursor: pointer;
        gap: 20px;
        color: white;
        .algo{
            padding: 10px;
        border: 1px solid white;
        }
    }
}

.playground-container {
    height: 90vh;
    overflow: hidden;
    width: 100vw;
    background-color: darkslategrey;

    .playground {
        height: 90vh;
        display: flex;
        justify-content: center;

        .bar {
            background-color: orange;
            margin: 0px 0.08vw;
            overflow: hidden;
            text-align: center;
        }

        .compare {
            background-color: aqua;
        }

        .swap {
            background-color: green;
        }
    }
}